* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

/* ----------- RESET ----------- */
.logo {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 496px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
}
h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
/* ----------- CONTAINER ---------- */

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* --------- HEADER ---------- */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.logo-accent {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-second {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #2e2f42;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;

}

.contact-list {
    display: flex;
    gap: 40px;

}

.nav-link {
    display: inline-block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address-nav {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.address-nav:hover,
.address-nav:focus {
    color: #404BBF;
}

/* ----------- HERO ----------- */

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 48px auto 0 auto;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* ----------- SECTIONS ----------- */

.section {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 72px;
}

/* ----------- FEATURES ----------- */

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-item p {
    margin-top: 8px;
    color: #434455;
    letter-spacing: 0.02em;
}

/* ----------- TEAM ----------- */

.team {
    background: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card-info {
    padding: 32px 16px;
    text-align: center;
}

.team-card-role {
    margin-top: 8px;
    color: #434455;
    letter-spacing: 0.02em;
}

/* ----------- PORTFOLIO ----------- */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background: #fff;
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-category {
    margin-top: 8px;
    color: #434455;
    letter-spacing: 0.02em;
}

/* ----------- FOOTER ----------- */

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-text {
    margin-top: 16px;
    max-width: 264px;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.logo-accent {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.f-logo-second {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}